<!doctype html>
<html>
  <head>
    <title>Facture</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      background-color: #e2e1e0;
      font-family: Arial, sans-serif;
      font-size: 100%;
      font-weight: 400;
      line-height: 1.4;
      color: #000;
      margin: 0;
      padding: 0;
    "
  >
    <table
      style="
        max-width: 800px;
        margin: 50px auto 10px;
        background-color: #fff;
        padding: 50px;
        border-radius: 3px;
        box-shadow:
          0 1px 3px rgba(0, 0, 0, 0.12),
          0 1px 2px rgba(0, 0, 0, 0.24);
        border-top: solid 10px #e56d4b;
        border-bottom: solid 10px #e56d4b;
      "
    >
      <thead>
        <tr>
          <th style="text-align: left" id="logo">
            <!-- Logo and daycare name -->
            <img
              src="https://i.ibb.co/6041wJZ/logo-JDG.png"
              alt="Logo"
              style="max-width: 150px"
            />
            <br />
            Jardin d'enfant Ghada
          </th>
          <!-- Issue date and address -->
          <th style="text-align: right; font-weight: 400" id="issue date">
            ${issueDate}
            <br />
            138 Av. Errached Sakiet Eddaier, 3011, Sfax
            <br />
            <b>Contact:</b> +216 99 890 625
            <br />
            <b>Email:</b> jardindenfantghada@gmail.com
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td style="height: 35px"></td>
        </tr>
        <tr>
          <td colspan="2" style="border: solid 1px #ddd; padding: 10px 20px">
            <p style="font-size: 14px; margin: 0 0 6px 0">
              <span
                style="
                  font-weight: bold;
                  display: inline-block;
                  min-width: 150px;
                "
                >Statut de la commande</span
              >
              <b style="color: green; font-weight: normal; margin: 0">Succès</b>
            </p>
            <p style="font-size: 14px; margin: 0 0 6px 0">
              <span
                style="
                  font-weight: bold;
                  display: inline-block;
                  min-width: 146px;
                "
                >ID de transaction</span
              >
              ${invoiceID}
            </p>
            <p style="font-size: 14px; margin: 0 0 0 0">
              <span
                style="
                  font-weight: bold;
                  display: inline-block;
                  min-width: 146px;
                "
                >Montant de la commande</span
              >
              ${totalAmount} TND.
            </p>
          </td>
        </tr>
        <tr>
          <td style="height: 35px"></td>
        </tr>
        <tr>
          <td style="width: 50%; padding: 20px; vertical-align: top">
            <p style="margin: 0 0 10px 0; padding: 0; font-size: 14px">
              <span style="display: block; font-weight: bold; font-size: 13px"
                >Nom</span
              >
              ${parentName}
            </p>
            <p style="margin: 0 0 10px 0; padding: 0; font-size: 14px">
              <span style="display: block; font-weight: bold; font-size: 13px"
                >Email</span
              >
              ${parentEmail}
            </p>
            <p style="margin: 0 0 10px 0; padding: 0; font-size: 14px">
              <span style="display: block; font-weight: bold; font-size: 13px"
                >Téléphone</span
              >
              ${parentPhone}
            </p>
          </td>
          <td style="width: 50%; padding: 20px; vertical-align: top">
            <p style="margin: 0 0 10px 0; padding: 0; font-size: 14px">
              <span style="display: block; font-weight: bold; font-size: 13px"
                >Date d'émission</span
              >
              ${issueDate}
            </p>
            <p style="margin: 0 0 10px 0; padding: 0; font-size: 14px">
              <span style="display: block; font-weight: bold; font-size: 13px"
                >Date d'échéance</span
              >
              ${dueDate}
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 20px; padding: 30px 15px 0 15px">
            Articles
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 15px">
            <table
              class="table"
              style="
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
                text-align: center;
              "
            >
              <thead>
                <tr>
                  <th
                    style="
                      border: 1px solid #ddd;
                      padding: 8px;
                      background-color: #f2f2f2;
                      font-weight: bold;
                    "
                  >
                    Description
                  </th>
                  <th
                    style="
                      border: 1px solid #ddd;
                      padding: 8px;
                      background-color: #f2f2f2;
                      font-weight: bold;
                    "
                  >
                    Montant
                  </th>
                </tr>
              </thead>
              <tbody>
                ${children}
                <tr
                  class="table-total"
                  style="
                    font-weight: bold;
                    background-color: #f2f2f2;
                    color: #e56d4b;
                  "
                >
                  <td style="border: 1px solid #ddd; padding: 8px">Total</td>
                  <td style="border: 1px solid #ddd; padding: 8px">
                     ${totalAmount} TND
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 20px">
            <div
              class="notes-terms-container"
              style="display: flex; justify-content: space-between"
            >
              <div style="width: 60%">
                <h4>Notes:</h4>
                <p>
                  Merci de régler votre facture dans les 30 jours pour continuer
                  à bénéficier de nos services.
                </p>
                <h4>Conditions Générales:</h4>
                <p>
                  Tous les services fournis sont régis par les conditions
                  générales de vente disponibles sur demande.
                </p>
              </div>
              <div style="width: 35%">
                <div
                  class="signature-space"
                  style="
                    border: 1px solid #e56d4b;
                    padding: 20px;
                    text-align: center;
                    height: 100px;
                  "
                >
                  Signature:<br />
                  <span
                    style="
                      font-size: 2em;
                      color: #e56d4b;
                      font-family:
                        Dancing Script,
                        cursive;
                    "
                    >JDG</span
                  >
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
